<div class="card">
    <div class="card-body">
        <h1>FAQ</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aspernatur omnis perspiciatis repudiandae
            doloremque. Aliquid saepe incidunt adipisci ullam! Eos dolor fugiat laborum vel, nostrum suscipit tenetur
            dolorum facere labore aspernatur explicabo iusto dicta eligendi officiis. Modi incidunt ipsam cupiditate!</p>

    </div>
</div>