<div class="jumbotron-m">
    <h1 class="display-4">Store App System</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, saepe.</p>
    <hr class="my-4">
    <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sapiente minus eius blanditiis
        voluptate minima aspernatur totam quasi veritatis eveniet autem veniam, repellat, deserunt in necessitatibus
        dolores cum nobis! Ad.</p>
    <a href="#" class="btn btn-primary btn-lg"> SAS </a>
</div>